* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}



.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    height: 100%;
    display: block;
}